{
    "extends": ["airbnb-base"],
    "env": {
      "commonjs": true,
      "node": true
    },
    "rules": {
      "no-underscore-dangle": [
        "error",
        {
          "allow": ["_id"]
        }
      ]
    }
}
